@import "scrollbar";

.nav {
  display: flex;
  align-items: center;
  background-color: #151515;
  position: fixed;
  width: 100vw;
  height: 3.5rem;
  z-index: 3;
  justify-content: space-between;
  &__items{
    &, a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:first-child {
      margin: 0 1rem;
    }
    &:nth-child(2) {
      .nav__container {
        display: none;
        align-items: center;
        font-size: 2.25rem;
        height: 3.5rem;
        color: white;
        z-index: 2;
        padding: 0 1rem;
        @media screen and (max-width: 768px) {
          display: flex;
        }
      }
    }
  }
  &__container {
    display: flex;
    a {
      text-decoration: none;
      button {
        background: transparent;
        border-radius: 4px;
        font-size: 1.025rem;
        cursor: pointer;
        outline: none;
        border: none;
        color: white;
        height: 3.5rem;
        padding: 0 1rem;
        &:hover {
          color: $color;
        }
      }
    }
    img {
      width: 3.5rem;
      padding: 0.25rem;
      margin-right: 0.25rem;
    }
    &:first-child {
      margin: 0 1rem;
    }
    &:nth-child(2) {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}