@import "import";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body {
  font-family: "Andika", sans-serif;
  background-color: $background-color;
  scroll-behavior: smooth;
  user-select: none;
  height: 100%;
  width: 100%;
  color: white;
}
.wrapper {
  .main {
    display: flex;
    flex-direction: column;
    padding-top: 3.5rem;
    &__items {
      max-width: 1200px;
      font-weight: 300;
      margin: 1rem 0 0;
      padding: 0 7rem;
      &:first-child {
        text-align: center;
        h2, p {
          width: calc(100vw - 14rem);
          @media screen and (max-width: 1024px) {
            width: calc(100vw - 10rem);
          }
          @media screen and (max-width: 768px) {
            width: calc(100vw - 6rem);
          }
          @media screen and (max-width: 480px) {
            width: calc(100vw - 2rem);
          }
        }
        h2 {
          font-size: 2rem;
        }
        p {
          font-size: 1.1rem;
          &:last-child {
            font-size: 1rem;
          }
        }
      }
      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        li {
          background-color: $dark-color;
          border-radius: 10px;
          padding: .75rem 2rem;
          margin: 1rem .25rem 0;
          text-align: center;
          cursor: pointer;
          color: #777;
          &:hover {
            color: white !important;
          }
          @media screen and (max-width: 417px) {
            width: calc(50% - .5rem);
            padding: .75rem 0;
          }
        }
        @media screen and (max-width: 480px) {
          justify-content: center;
        }
      }
      @media screen and (max-width: 1024px) {
        padding: 0 5rem;
      }
      @media screen and (max-width: 768px) {
        padding: 0 3rem;
      }
      @media screen and (max-width: 480px) {
        padding: 0 1rem;
      }
    } 
  }
  .cmd {
    display: flex;
    flex-direction: column;
    &__items {
      max-width: 1200px;
      padding: 0 7rem;
      margin: .5rem 0;
      @media screen and (max-width: 1024px) {
        padding: 0 5rem;
      }
      @media screen and (max-width: 768px) {
        padding: 0 3rem;
      }
      @media screen and (max-width: 480px) {
        padding: 0 1rem;
      }
    }
    &__container {
      margin-bottom: 1rem;
      details {
        background-color: $dark-color;
        border-radius: 10px;
        width: calc(100vw - 14rem);
        @media screen and (max-width: 1024px) {
          width: calc(100vw - 10rem);
        }
        @media screen and (max-width: 768px) {
          width: calc(100vw - 6rem);
        }
        @media screen and (max-width: 480px) {
          width: calc(100vw - 2rem);
        }
        summary {
          padding: 1.5rem;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-between;
          div {
            @include center;
            svg {
              @include noneAnimation;
              fill: $background-color;
            }
            .fillActive {
              @include noneAnimation;
              fill: $color;
            }
            p {
              font-size: 1.2rem;
              font-weight: 500;
              margin: 0 1rem;
              span {
                font-size: 1.025rem;
                color: $span-color;
              }
            }
          }
          svg {
            animation: 250ms linear 0s rot;
            -webkit-animation: 250ms linear 0s rot;
            transform: rotate(180deg);
          }
          .transformActive {
            animation: 250ms linear 0s rot-2;
            -webkit-animation: 250ms linear 0s rot-2;
            transform: rotate(0);
          }
        }
        @keyframes rot {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(180deg);
          }
        }
        @-webkit-keyframes rot {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(180deg);
          }
        }
        @keyframes rot-2 {
          0% {
            transform: rotate(180deg);
          }
          100% {
            transform: rotate(0);
          }
        }
        @-webkit-keyframes rot-2 {
          0% {
            transform: rotate(180deg);
          }
          100% {
            transform: rotate(0deg);
          }
        }
        .details {
          display: flex;
          padding: 0 1.5rem 1.5rem;
          div {
            width: 50%;
            span {
              color: $span-color;
            }
            ul {
              list-style: none;
              font-size: .8rem;
            }
          }
        }
      }
    }
  }
}