@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color: #e9cdeb;
  --font: "Inter", sans-serif;
}

::-webkit-scrollbar {
  background-color: #151515;
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color);
}

html, body {
  height: 100%;
  width: 100%;
  font-family: var(--font);
  user-select: none;
}

.nav {
  display: flex;
  align-items: center;
  background-color: #151515;
  position: fixed;
  width: 100vw;
  height: 3.5rem;
  z-index: 3;
  justify-content: space-between;
}

.nav .nav__items, .nav .nav__items a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__container {
  display: flex;
}

.nav__items:nth-child(1) .nav__container:nth-child(1) {
  margin: 0 1rem;
}

.nav__container img {
  width: 3.5rem;
  padding: 0.25rem;
  margin-right: 0.25rem;
}

@media screen and (max-width: 768px) {
  .nav__container:nth-child(2) {
    display: none;
  }
}

.nav .nav__items:nth-child(2) .nav__container {
  display: none;
  align-items: center;
  font-size: 2.25rem;
  height: 3.5rem;
  color: white;
  z-index: 2;
  padding: 0 1rem;
}

@media screen and (max-width: 768px) {
  .nav .nav__items:nth-child(2) .nav__container {
    display: flex;
  }
}

.nav__container a {
  text-decoration: none;
}
  
.nav__container a button {
  background: transparent;
  border-radius: 4px;
  font-size: 1.025rem;
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
  height: 3.5rem;
  padding: 0 1rem;
}

.nav__container a button:hover {
  color: var(--color);
}

.info__close {
  color: white;
  font-size: 2rem;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
}
.info ul {
  list-style: none;
  width: 100%;
}
.info ul a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  width: calc(100% - 2rem);
  margin: 1rem;
}

.info {
  display: flex;
  font-size: 1.2rem;
  color: black;
  flex-direction: column;
  justify-content: center;
  padding-top: 3.5rem;
  height: 100vh;
  align-items: center;
}

.info a {
  border-radius: 5px;
  text-decoration: none;
  background: #00000033;
  color: white;
  padding: 16px ;
  margin: 1rem;
  width: 300px;
}

@media screen and (max-width: 663px) {
  .info a {
    width: 70%;
  }
}

@media screen and (max-width: 400px) {
  .info a {
    width: 90%;
  }
}

.info {
  background-image: url("images/backgrounds/bc3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.info p{
  text-align: center;
  
}

.info__weight{
  font-weight: 600;
}

.info__buttons {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-weight: 300;
}

.main h2{
  text-align: center;
}

.main p{
  max-width: 1440px;
}

.main {
  align-items: center;
  padding: 0 7rem; 
  margin: 1rem 0;
  flex-direction: column;
  display: flex;
  font-size: 1.1rem; 
}

@media screen and (max-width: 768px) {
  .main {
    padding: 0 5rem;
  }
}

@media screen and (max-width: 600px) {
  .main {
    padding: 0 3.5rem;
  }
}

@media screen and (max-width: 480px) {
  .main {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 400px) {
  .main {
    padding: 0 1rem;
  }
}

.functions{
  display: flex;
}
.functions details{
   padding: 5px;
   background-color: #eee;
   color: #333;
   border: 1px #ccc solid;
   cursor: pointer;
}
.advantages{
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  
}
.uptime{
  border: 2px solid #0dd0f8;
  border-radius: 10px;
  padding: 1.3rem;
  margin-right: 9rem;
  margin-left: 3rem;
}
.chat{
  border: 2px solid #0b7cf4;
  border-radius: 10px;
  padding: 1.3rem;
  margin-right: 7rem;
  margin-left: 3rem;
}
.function2{
  border: 2px solid #2634f2;
  border-radius: 10px;
  padding: 1.3rem;
  margin-right: 5rem;
  margin-left: 3rem;
}

.text3{
  border: 2px solid #000fe6;
  border-radius: 10px;
  padding: 1.3rem;
  margin-right: 3rem;
  margin-left: 3rem;
}