@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
:root {
  --color: #e9cdeb;
  --font: "Inter", sans-serif;
}

.functions{
  display: flex;
}
.functions details{
   padding: 5px;
   background-color: #eee;
   color: #333;
   border: 1px #ccc solid;
   cursor: pointer;
}
.advantages1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.advantages{
  margin: .5rem;
  display: flex;
  justify-content: center;
  max-width: calc(1200px + 3rem);
  width: 100%;
  padding: 1.5rem;
}
@media screen and (max-width: 675px) {
  .advantages1 {
    padding: 1rem;
    flex-direction: column;
  }
  .advantages {
    padding: 0rem;
    flex-direction: column;
  }
  .uptimes2, .function5 {
    width: 100% !important;
  }
  .uptime, .chat, .function2, .text3 {
    margin: .5rem 0 !important;
  }
}
.uptimes2{
  flex-wrap: wrap;
  width: 50%;
  display: flex;
}
.function5{
  flex-wrap: wrap;
  width: 50%;
  display: flex;
}
.uptime{
  margin: 1rem;
  background-color: #efbb01;
  border-radius: 10px;
  padding: 1.5rem;
}
.chat{
  padding: 1.5rem;
  margin: 1rem;
  background-color: #6ed7f2;
  border-radius: 10px;
}
.function2{
  margin: 1rem;
  background-color: #69ec83;
  border-radius: 10px;
  padding: 1.5rem;
}
.text3{
  margin: 1rem;
  background-color: #e15b4c;
  border-radius: 10px;
  padding: 1.5rem;
}
.advantages h3{
  margin-bottom: 1rem;
}
