@import "mixins";

.main2 {
  @include center-y;
  margin: 1rem;
  flex-direction: column;
  font-size: 1.1rem;
  h2 {
    text-align: center;
    margin: 1rem 0;
  }
  p {
    max-width: calc(1200px - 2rem);
    @media screen and (max-width: 1200px) {
      padding: 0 2rem;
    }
    @media screen and (max-width: 417px) {
      padding: 0;
    }
  }
}