@import "variables";

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin center-y {
  display: flex;
  align-items: center;
}
@mixin center-x {
  display: flex;
  justify-content: center;
}
@mixin noneAnimation {
  animation: none;
  -webkit-animation: none;
}
@mixin box {
  background-color: #ffffff15;
  animation-duration: .5s;
  color: $color;
}
@mixin bg {
  background: url("images/backgrounds/bg.webp");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}