@import "variables";

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin noneAnimation {
  animation: none;
  -webkit-animation: none;
}
@mixin box {
  background-color: #ffffff15;
  animation-duration: .5s;
  color: $color;
}